<!DOCTYPE html>

	<head>
	</head>
	
	<body>
    Contact us:
		<form>
	You e-mail for answer:
		<input name="mail" type="text">
		
		
		
		Input your message:
		<input type="textarea" name="message">
		
		<button type="submit" > Submit </button>
		</form>
	</body>