<!DOCTYPE html>

	<head>
	</head>
	
	<body>
    Contact us:
	eeeee
		<form>
	username:
		<input name="username" type="text">
		
		
		
		password:
		<input type="textarea" name="password">
		
		<button type="submit" > Submit </button>
		</form>
	</body>