<!DOCTYPE html>

	<head>
	</head>
	
	<body>
	 Users show there
	 <%= @all_rows%>
	 
	 <div class="bs-example" data-example-id="simple-table">
    <table class="table">
      <caption>List of all visitors.</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Date of visit</th>
		  <th>Barber</th>
		  <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
	</div>
	</body>