<!DOCTYPE html>

	<head>
	</head>
	
	<body>
		<form action="/visit" method="POST">
		Input you name:
		<input name="name" type="text" value="<%= @name %>">
		
		
		
		Input you phone number:
		<input name="phone" type="text" value="<%= @phone %>" >
		
		
		
		Input day of visiting:
		<input type="text" name="date" value="<%= @date %>" >
		
		<button type="submit" > Submit </button>
		</form>
		
		
	</body>