<!DOCTYPE html>

	<head>
	<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script language="javascript" type="text/javascript" src="really-simple-color-picker\js\jquery.colorPicker.min.js"/></script>
	
		<script type="text/javascript">
  //Run the code when document ready
  $(function() {    
   
   
   $('#color1').colorPicker();


  });
</script>


	</head>
	
	<body>
		<form action="/visit" method="POST">
		Input you name:
		<input name="name" type="text" value="<%= @name %>">
		
		
		
		Input you phone number:
		<input name="phone" type="text" value="<%= @phone %>" >
		
		
		
		Input day of visiting:
		<input type="text" name="date" value="<%= @date %>" >
		
		select youre barber
		
		<select class="form-control" name="barber">
		  <option>Walter White</option>
		  <option>Jessi Pinkman</option>
		  <option>Goose Heeding</option>
		  
		</select>
		
		Select color:
		
		 <div>
<label for="color1">Color 1</label>
		 <input id="color1" type="text" name="color" value="#333399" />
		 </div>
		 
		
		
		
		<button type="submit" > Submit </button>
		</form>
		
		
	</body>